.niveau3 li a{
	display: none;
}
.niveau3{
	display: block;
}
.niveau4 li a{
	display: none;
}
.niveau4{
	display: block;
}
.button2 b a:before{
	content: '\f0d7';
	font-family: fontAwesome;
	position: relative;
	line-height: 70px;
	color: red;
	right: 5px;

	
}

.button3 b a:before{
	content: '\f0d7';
	font-family: fontAwesome;
	position: relative;
	line-height: 70px;
	color: red;
	right: 5px;
}