body{
	margin: 20px;
	background-color: lightgreen;
}
header{
	margin-top: 300px;
	width: 100%;
	height: auto;
	background-color: #14911D;
	position: relative;
	

}
img{
	cursor: pointer;
	margin-top: 200px;
	margin-left: 200px;
}
p{
	margin-top: -200px;
	margin-left: 470px;
	text-align: justify;
}
.text{
	margin-left: 200px;
	margin-top: -14px;
	text-align: justify;
}
.navigation{
	text-align: center;
}
.navigation, .navigation a{
	color: black;
	list-style: none;
	text-decoration: none;


}
.navigation, .navigation ul{

	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;

}
.navigation li{

	display: inline-block;
	position: relative;
	font-size: 12px;
}
.navigation a{
	font-family: verdana;
	display: block;
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	
}
.navigation ul{
	display: none;
	position: absolute;
}
.navigation li:hover > ul{
	display: block;
	background-color: #1AE26B;
	border-radius: 13px;
	
}
.navigation .niveau2{

	background-color: red;
}
.navigation .niveau2:hover > ul{
	position: relative;
	display: block;
	background-color: #1AE26B;
}
.niveau2 li:hover{
	background-color: #3498DB;
}
