body{
	margin: 10px;
	background-color: lightgreen;
}


.headhide{
	margin-left: 0px;
	transition-duration: 2s;
}
.headhide_open{
	margin-left: 0px;
	transition-duration: 2s;
}
.logo{
	position: relative;
	display: block;
	margin-top: 10px;
	float: center;
	margin-left: 268px;

}
.banniere{
	position: relative;
	margin-left: 603px;
	margin-top: -204px;
	float: center;
	height: 250px;
}

header{
	margin-top: 0px;
	width: 100%;
	height: auto;
	background-color: #14911D;
	position: relative;
	border: 1px solid red;
	
}
#entete{
	width: 980px;
	margin-top: -50px;
	margin-left: auto;
	margin-right: auto;
}
aside{
	padding: 5px;
	text-align: center;
	background-color: black;
	margin-top: -210px;
	float: right;
}
aside li a{
	float: left;
	text-decoration: none;
	color: white;

}
footer{
	border: 1px solid red;
	height: 40px;
	background-color: green;
	width: 100%;
	text-align: center;
	margin-top: -24px;
	

}

.Ornans{
	margin-left: 180px;
	margin-top: -402px;
}
h2{
	justify-content: center;
	margin-top: 0px;
	margin-left: 200px;
}
img{
	cursor: pointer;
	margin-top: 0px;
	margin-left: 0px;
}
p{
	height: 200px;
	margin-top: -200px;
	margin-left: 470px;
	margin-right: 200px;
	text-align: justify;
}
nav{
	text-align: center;
	list-style: none;
	
	background-color: black;
	color: red;
	font-size: 30px;
	float left;
	margin-top: -10px;
	width: 170px;
	height: 400px;
	border: 2px solid green;
}
nav li a {
	color: red;
	text-decoration: none;

}
.text{
	margin-left: 200px;
	margin-top: -14px;
	text-align: justify;
}

.navigation{
	text-align: center;
}

.navigation, .navigation a{
	color: black;
	list-style: none;
	text-decoration: none;


}
.navigation, .navigation ul{

	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;

}
.navigation li{

	display: inline-block;
	position: relative;
	font-size: 12px;
	
}
.navigation a{
	font-family: verdana;
	display: block;
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	
}
.navigation ul{
	display: none;
	position: absolute;
}

.navigation li:hover > ul{
	display: block;
	background-color: #1AE26B;
	border-radius: 13px;
	
}

.navigation .niveau2:hover > ul{
	border-radius: 13px;
	position: relative;
	display: block;
	background-color: #1AE26B;
}
.niveau2 li:hover > a{
	
	border-radius: 13px;
	background-color: #3498DB;
}
.niveau3 li:hover > a{
	background-color: #3498DB;
	display: block;
}

