p
{
	margin-left: 400px;
	text-align: justify;
	width: 50%;
}
.al_gauche
{
	margin-left: 400px;
    	text-align: justify; width: 50%;
}

h1
{
	
	text-align: center;
}

h2
{
	margin-left: 400px;
	color: red;
}