p
{
	margin-left: 400px;
	text-align: justify;
	width: 50%;
}
.al_gauche
{
	margin-left: 400px;
    	text-align: justify; width: 50%;
}

h1
{
	
	text-align: center;
}

h2
{
	margin-left: 400px;
	color: red;
}
nav
{
	font-family: verdana;
	font-size: 20px;
	justify-content: center;
	align-content: center;
	text-align: center;
	margin-top: -620px;
	height: 600px;
	width: 360px;
	border: solid 1px black;
}
aside
{
	font-family: verdana;
	font-size: 20px;
	text-align: center;
	border: solid 1px grey;
	margin-left: 1190px;
	height: 600px;
	margin-top: -615px;
}